<html>
<head>
<title>Wall of Work (WIP)</title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="../view/controller.js"></script>
</head>
<body ng-app="viewPage" ng-cloak ng-controller="viewController">
<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="true" >
	<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">test!</h1>
      </md-toolbar>
</md-sidenav>
</div>

</body>
</html>